@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";

.form-wrapper {
  width: 500px;
  margin: 0 auto;
}

.App {
  text-align: center;
  margin-top: 30px;
}

nav {
  width: auto;
  margin: 0 auto;
  background: #282c34;
  height: 70px;
  line-height: 70px;
}
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

h1,
h5 {
  border-radius: 20px/20px;
  background-color: rgb(223, 255, 127);
  padding: 10px;
  margin: 20px;
  text-align: center;
}

nav ul li {
  display: inline;
  list-style-type: none;
  text-align: start;
  padding: 30px;
}
label {
  margin: auto;
  margin-bottom: 4px;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(200, 200, 230);
}

nav ul li a {
  margin: 50px 0;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

table {
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
